In [1]:
import pandas as pd
import numpy as np

In [2]:
# import grad plan files
path = './data/gradplans/raw/'

years = ['2019-20', '2018-19', '2017-18', '2016-17', '2015-16', '2014-15', '2013-14', '2012-13', '2011-12', '2010-11', '2009-10']

df_a = pd.DataFrame()

for year in years:
    temp = pd.read_excel(path + 'ma_gradplans_' + year + '.xlsx', dtype={'District Name':str,'District Code':str,'4 Year Private College':np.float64,'4 Year Public College':np.float64,'2 Year Private College':np.float64,'2 Year Public College':np.float64,'Other Post Secondary':np.float64,'Apprenticeship':np.float64,'Work':np.float64,'Military':np.float64,'Other':np.float64,'Unknown':np.float64,'Total Count':np.float64},skiprows=[0], thousands=',')
    temp['year'] = year
    temp['group_state'] = 'All Students'
    df_a = df_a.append(temp, ignore_index=True, sort=True)

df_a = df_a.rename(columns={'District Name': 'district'})
        
print(df_a.shape)
print(df_a.head(5))

(3282, 15)
   2 Year Private College  2 Year Public College  4 Year Private College  \
0                     0.0                   22.9                    21.7
1                     0.9                   17.4                    25.2
2                     0.0                   18.2                    31.8
3                     0.2                    2.9                    44.3
4                     0.0                    3.0                    44.0

   4 Year Public College  Apprenticeship District Code  \
0                   43.4             0.0      04450000
1                   43.5             0.0      00010000
2                   40.9             2.3      04120000
3                   44.1             0.0      06000000
4                   48.5             0.0      04300000

                                            district  Military  Other  \
0       Abby Kelley Foster Charter Public (District)       3.6    2.4
1                                           Abington       4.3    2.6
2  Academy Of the Pacific Rim Charter Public (Dis...       2.3    2.3
3                                   Acton-Boxborough       0.2    0.0
4  Advanced Math and Science Academy Charter (Dis...       0.7    0.0

   Other Post Secondary  Total Count  Unknown  Work   group_state     year
0                   2.4         83.0      2.4   1.2  All Students  2019-20
1                   5.2        115.0      0.9   0.0  All Students  2019-20
2                   0.0         44.0      0.0   2.3  All Students  2019-20
3                   0.0        451.0      8.2   0.0  All Students  2019-20
4                   0.7        134.0      1.5   1.5  All Students  2019-20

In [3]:
# edit year field
print(df_a['year'].drop_duplicates())
df_a['year'] = ['20' + x[-2:] for x in df_a['year']]
print(df_a['year'].drop_duplicates())

0       2019-20
308     2018-19
614     2017-18
917     2016-17
1218    2015-16
1519    2014-15
1815    2013-14
2110    2012-13
2407    2011-12
2703    2010-11
2996    2009-10
Name: year, dtype: object
0       2020
308     2019
614     2018
917     2017
1218    2016
1519    2015
1815    2014
2110    2013
2407    2012
2703    2011
2996    2010
Name: year, dtype: object

In [4]:
# import highered files
path = './data/highered/raw/'

years = ['2018-19', '2017-18', '2016-17', '2015-16', '2014-15', '2013-14', '2012-13', '2011-12', '2010-11', '2009-10']
groups = ['All Students', 'Female', 'Male', 'High Needs', 'English Learner', 'Low Income', 'Economically Disadvantaged', 'Students wdisabilities', 'Afr AmerBlack', 'Amer Ind or Alaska Nat', 'Asian', 'HispanicLatino', 'Multi-race, Non-HispLat', 'Nat Haw or Pacif Isl', 'White']
locations = ['All Colleges and Universities', 'MA Colleges and Universities', 'Out-of-State Colleges and Universities']


df_b = pd.DataFrame()

for year in years:
    for group in groups:
        for location in locations:
            temp = pd.read_excel(path + 'ma_highered_' + group + '_' + location + '_' + year + '.xlsx', dtype={'District Name':str,'District Code':str,'High School Graduates (#)':np.float64,'Attending Coll./Univ. (#)':np.float64,'Attending Coll./Univ. (%)':np.float64,'Private Two-Year (%)':np.float64,'Private Four-Year (%)':np.float64, 'Public Two-Year (%)':np.float64, 'Public Four-Year (%)':np.float64},skiprows=[0], thousands=',')
            temp['year'] = year
            temp['group_state'] = group
            temp['location'] = location
            df_b = df_b.append(temp, ignore_index=True, sort=True)

df_b = df_b.rename(columns={'District Name': 'district'})
        
print(df_b.shape)
print(df_b.head(5))

(41667, 15)
   Attending Coll./Univ. (#)  Attending Coll./Univ. (%) District Code  \
0                       81.0                       90.0      04450000
1                       91.0                       74.0      00010000
2                       34.0                       91.9      04120000
3                      413.0                       91.8      06000000
4                        NaN                        NaN      00030000

                                            district  \
0       Abby Kelley Foster Charter Public (District)
1                                           Abington
2  Academy Of the Pacific Rim Charter Public (Dis...
3                                   Acton-Boxborough
4                                           Acushnet

   High School Graduates (#)  MA Community College (%)  \
0                       90.0                      18.9
1                      123.0                      12.2
2                       37.0                       5.4
3                      450.0                       6.9
4                        1.0                       NaN

   MA State University (%)  Private Four-Year (%)  Private Two-Year (%)  \
0                     30.0                   18.9                   0.0
1                     15.4                   23.6                   0.0
2                     16.2                   43.2                   0.0
3                      2.9                   40.9                   0.0
4                      NaN                    NaN                   NaN

   Public Four-Year (%)  Public Two-Year (%)  Univ.of Mass. (%)   group_state  \
0                  52.2                 18.9               14.4  All Students
1                  38.2                 12.2                7.3  All Students
2                  43.2                  5.4               27.0  All Students
3                  43.3                  7.6               14.4  All Students
4                   NaN                  NaN                NaN  All Students

                        location     year
0  All Colleges and Universities  2017-18
1  All Colleges and Universities  2017-18
2  All Colleges and Universities  2017-18
3  All Colleges and Universities  2017-18
4  All Colleges and Universities  2017-18

In [5]:
# edit year field
print(df_b['year'].drop_duplicates())
df_b['year'] = ['20' + x[-2:] for x in df_b['year']]
print(df_b['year'].drop_duplicates())

0        2017-18
10674    2016-17
21063    2015-16
31452    2014-15
Name: year, dtype: object
0        2018
10674    2017
21063    2016
31452    2015
Name: year, dtype: object

In [6]:
# join gradrate & highered datasets
print(df_a.shape)
print(df_b.shape)
df = df_a.merge(df_b, on=['year', 'District Code', 'group_state'], how='outer')
print(df.shape)
df['district'] = df.district_x.combine_first(df.district_y)
print(df.shape)
print(df.head(5))

(3282, 15)
(41667, 15)
(43748, 27)
(43748, 28)
   2 Year Private College  2 Year Public College  4 Year Private College  \
0                     0.0                   22.9                    21.7
1                     0.9                   17.4                    25.2
2                     0.0                   18.2                    31.8
3                     0.2                    2.9                    44.3
4                     0.0                    3.0                    44.0

   4 Year Public College  Apprenticeship District Code  \
0                   43.4             0.0      04450000
1                   43.5             0.0      00010000
2                   40.9             2.3      04120000
3                   44.1             0.0      06000000
4                   48.5             0.0      04300000

                                          district_x  Military  Other  \
0       Abby Kelley Foster Charter Public (District)       3.6    2.4
1                                           Abington       4.3    2.6
2  Academy Of the Pacific Rim Charter Public (Dis...       2.3    2.3
3                                   Acton-Boxborough       0.2    0.0
4  Advanced Math and Science Academy Charter (Dis...       0.7    0.0

   Other Post Secondary  ...  High School Graduates (#)  \
0                   2.4  ...                        NaN
1                   5.2  ...                        NaN
2                   0.0  ...                        NaN
3                   0.0  ...                        NaN
4                   0.7  ...                        NaN

   MA Community College (%)  MA State University (%) Private Four-Year (%)  \
0                       NaN                      NaN                   NaN
1                       NaN                      NaN                   NaN
2                       NaN                      NaN                   NaN
3                       NaN                      NaN                   NaN
4                       NaN                      NaN                   NaN

  Private Two-Year (%)  Public Four-Year (%)  Public Two-Year (%)  \
0                  NaN                   NaN                  NaN
1                  NaN                   NaN                  NaN
2                  NaN                   NaN                  NaN
3                  NaN                   NaN                  NaN
4                  NaN                   NaN                  NaN

  Univ.of Mass. (%)  location  \
0               NaN       NaN
1               NaN       NaN
2               NaN       NaN
3               NaN       NaN
4               NaN       NaN

                                            district
0       Abby Kelley Foster Charter Public (District)
1                                           Abington
2  Academy Of the Pacific Rim Charter Public (Dis...
3                                   Acton-Boxborough
4  Advanced Math and Science Academy Charter (Dis...

[5 rows x 28 columns]

In [7]:
del df_a
del df_b
del df['district_x']
del df['district_y']

In [8]:
# add manual data changes
print(df.shape)
# remove district totals & Horace Mann
print(df.shape)
df = df[df['District Code'] != '00000000']
print(df.shape)
df = df[~df['district'].str.contains('Horace Mann')]
print(df.shape)

df.district = df.district.str.replace('MATCH', 'Match', regex=False)
print(df[df.district.str.contains('Match')].district.drop_duplicates())

(43748, 26)
(43748, 26)
(43573, 26)
(43318, 26)
150    Match Charter Public School (District)
Name: district, dtype: object

In [9]:
print(df.columns)

Index(['2 Year Private College', '2 Year Public College',
       '4 Year Private College', '4 Year Public College', 'Apprenticeship',
       'District Code', 'Military', 'Other', 'Other Post Secondary',
       'Total Count', 'Unknown', 'Work', 'group_state', 'year',
       'Attending Coll./Univ. (#)', 'Attending Coll./Univ. (%)',
       'High School Graduates (#)', 'MA Community College (%)',
       'MA State University (%)', 'Private Four-Year (%)',
       'Private Two-Year (%)', 'Public Four-Year (%)', 'Public Two-Year (%)',
       'Univ.of Mass. (%)', 'location', 'district'],
      dtype='object')

In [10]:
# drop rows with null values
print(df.shape)
df = df.dropna(subset=['2 Year Private College', '2 Year Public College', '4 Year Private College', '4 Year Public College', 'Apprenticeship', 'Military', 'Other', 'Other Post Secondary', 'Unknown', 'Work', 'Attending Coll./Univ. (%)', 'MA Community College (%)', 'MA State University (%)', 'Private Four-Year (%)', 'Private Two-Year (%)', 'Public Four-Year (%)', 'Public Two-Year (%)', 'Univ.of Mass. (%)'], how='all')
print(df.shape)

(43318, 26)
(27837, 26)

In [11]:
print(df.columns)

Index(['2 Year Private College', '2 Year Public College',
       '4 Year Private College', '4 Year Public College', 'Apprenticeship',
       'District Code', 'Military', 'Other', 'Other Post Secondary',
       'Total Count', 'Unknown', 'Work', 'group_state', 'year',
       'Attending Coll./Univ. (#)', 'Attending Coll./Univ. (%)',
       'High School Graduates (#)', 'MA Community College (%)',
       'MA State University (%)', 'Private Four-Year (%)',
       'Private Two-Year (%)', 'Public Four-Year (%)', 'Public Two-Year (%)',
       'Univ.of Mass. (%)', 'location', 'district'],
      dtype='object')

In [12]:
# remove last four digits of school code
df['district_id'] = df.apply(lambda x: x['District Code'][:4], axis = 1)
del df['District Code']
print(df['district_id'].drop_duplicates().head(5))

0    0445
1    0001
2    0412
3    0600
4    0430
Name: district_id, dtype: object

In [13]:
print(df.dtypes)
df['district_id'] = df['district_id'].astype('int64')
print(df.dtypes)

2 Year Private College       float64
2 Year Public College        float64
4 Year Private College       float64
4 Year Public College        float64
Apprenticeship               float64
Military                     float64
Other                        float64
Other Post Secondary         float64
Total Count                  float64
Unknown                      float64
Work                         float64
group_state                   object
year                          object
Attending Coll./Univ. (#)    float64
Attending Coll./Univ. (%)    float64
High School Graduates (#)    float64
MA Community College (%)     float64
MA State University (%)      float64
Private Four-Year (%)        float64
Private Two-Year (%)         float64
Public Four-Year (%)         float64
Public Two-Year (%)          float64
Univ.of Mass. (%)            float64
location                      object
district                      object
district_id                   object
dtype: object
2 Year Private College       float64
2 Year Public College        float64
4 Year Private College       float64
4 Year Public College        float64
Apprenticeship               float64
Military                     float64
Other                        float64
Other Post Secondary         float64
Total Count                  float64
Unknown                      float64
Work                         float64
group_state                   object
year                          object
Attending Coll./Univ. (#)    float64
Attending Coll./Univ. (%)    float64
High School Graduates (#)    float64
MA Community College (%)     float64
MA State University (%)      float64
Private Four-Year (%)        float64
Private Two-Year (%)         float64
Public Four-Year (%)         float64
Public Two-Year (%)          float64
Univ.of Mass. (%)            float64
location                      object
district                      object
district_id                    int64
dtype: object

In [14]:
# use most recent district name per district_id
df_leas = df[['year', 'district_id', 'district']]
df_leas = df_leas.sort_values(['year', 'district_id', 'district'], ascending = False)
df_leas = df_leas.drop_duplicates(subset=['district_id'])
del df_leas['year']

# join back to df
del df['district']
print(df.shape)
df = df.merge(df_leas, on = ['district_id'])
print(df.shape)

(27837, 25)
(27837, 26)

In [15]:
# import file for charter flag
df_flags = pd.read_csv('./data/finalized/charter_to_district.csv')
df_flags = df_flags[df_flags.fy.eq('fy21')]
df_flags = df_flags[['charter_lea_code']].drop_duplicates()
df_flags = df_flags.rename(columns={'charter_lea_code': 'district_id'})
df_flags['charter_flag'] = 1

print(df.shape)
df = df.merge(df_flags, on = ['district_id'], how = 'left')
del df_flags
print(df.shape)
print(df.head(5))

(27837, 26)
(27837, 27)
   2 Year Private College  2 Year Public College  4 Year Private College  \
0                     0.0                   22.9                    21.7
1                     1.2                   13.4                    31.7
2                     0.0                   16.7                    30.0
3                     0.0                   16.7                    30.0
4                     0.0                   16.7                    30.0

   4 Year Public College  Apprenticeship  Military  Other  \
0                   43.4             0.0       3.6    2.4
1                   48.8             0.0       2.4    0.0
2                   48.9             0.0       1.1    1.1
3                   48.9             0.0       1.1    1.1
4                   48.9             0.0       1.1    1.1

   Other Post Secondary  Total Count  Unknown  ...  MA State University (%)  \
0                   2.4         83.0      2.4  ...                      NaN
1                   0.0         82.0      1.2  ...                      NaN
2                   2.2         90.0      0.0  ...                     30.0
3                   2.2         90.0      0.0  ...                     30.0
4                   2.2         90.0      0.0  ...                      NaN

  Private Four-Year (%) Private Two-Year (%)  Public Four-Year (%)  \
0                   NaN                  NaN                   NaN
1                   NaN                  NaN                   NaN
2                  18.9                  0.0                  52.2
3                  12.2                  0.0                   NaN
4                   6.7                  0.0                   NaN

   Public Two-Year (%)  Univ.of Mass. (%)  \
0                  NaN                NaN
1                  NaN                NaN
2                 18.9               14.4
3                  NaN               14.4
4                  0.0                NaN

                                 location  district_id  \
0                                     NaN          445
1                                     NaN          445
2           All Colleges and Universities          445
3            MA Colleges and Universities          445
4  Out-of-State Colleges and Universities          445

                                       district  charter_flag
0  Abby Kelley Foster Charter Public (District)           1.0
1  Abby Kelley Foster Charter Public (District)           1.0
2  Abby Kelley Foster Charter Public (District)           1.0
3  Abby Kelley Foster Charter Public (District)           1.0
4  Abby Kelley Foster Charter Public (District)           1.0

[5 rows x 27 columns]

In [16]:
print(df.columns)

Index(['2 Year Private College', '2 Year Public College',
       '4 Year Private College', '4 Year Public College', 'Apprenticeship',
       'Military', 'Other', 'Other Post Secondary', 'Total Count', 'Unknown',
       'Work', 'group_state', 'year', 'Attending Coll./Univ. (#)',
       'Attending Coll./Univ. (%)', 'High School Graduates (#)',
       'MA Community College (%)', 'MA State University (%)',
       'Private Four-Year (%)', 'Private Two-Year (%)', 'Public Four-Year (%)',
       'Public Two-Year (%)', 'Univ.of Mass. (%)', 'location', 'district_id',
       'district', 'charter_flag'],
      dtype='object')

In [17]:
# join charter reg and geo file
df_reg = pd.read_csv('./data/finalized/MCPSA Charter Reg and Geo Affiliations.csv')
df_reg = df_reg[['Charter LEA ID', 'Charter LEA Name', 'Regional Affiliation/s', 'Geographic Location/s']]
print(df_reg.head(5))
df_reg['district_id'] = df_reg.apply(lambda x: int(x['Charter LEA ID'] / 10000), axis = 1)
del df_reg['Charter LEA ID']
del df_reg['Charter LEA Name']

print(df.shape)
df = df.merge(df_reg, on=['district_id'], how='left')
print(df.shape)

   Charter LEA ID                                   Charter LEA Name  \
0         4070405  Dudley Street Neighborhood Charter School (Dis...
1         4090205  Alma del Mar Charter School (District) - Alma ...
2         4100205  Excel Academy Charter (District) - Excel Acade...
3         4110305  Boston Green Academy Horace Mann Charter Schoo...
4         4120530  Academy Of the Pacific Rim Charter Public (Dis...

  Regional Affiliation/s Geographic Location/s
0                 Boston                Boston
1                Gateway          Southeastern
2                 Boston                Boston
3                 Boston                Boston
4                 Boston                Boston
(27837, 27)
(28272, 29)

In [18]:
print(df.columns)

Index(['2 Year Private College', '2 Year Public College',
       '4 Year Private College', '4 Year Public College', 'Apprenticeship',
       'Military', 'Other', 'Other Post Secondary', 'Total Count', 'Unknown',
       'Work', 'group_state', 'year', 'Attending Coll./Univ. (#)',
       'Attending Coll./Univ. (%)', 'High School Graduates (#)',
       'MA Community College (%)', 'MA State University (%)',
       'Private Four-Year (%)', 'Private Two-Year (%)', 'Public Four-Year (%)',
       'Public Two-Year (%)', 'Univ.of Mass. (%)', 'location', 'district_id',
       'district', 'charter_flag', 'Regional Affiliation/s',
       'Geographic Location/s'],
      dtype='object')

In [19]:
# import charter_to_district data for calculating multipliers
df_mult = pd.read_csv('./data/finalized/charter_to_district_edited.csv')
print(df_mult.dtypes)
print(df_mult.shape)

charter_lea_code               int64
sending_lea_code             float64
enrolled_n                   float64
physical_charter_location     object
chartered_to_serve           float64
dtype: object
(1053, 5)

In [20]:
# import district_remainders data for calculating multipliers
df_enrollment = pd.read_csv('./data/finalized/district_remainders.csv')
print(df_enrollment.dtypes)
print(df_enrollment.shape)

sending_lea_code      int64
enrolled_n          float64
dtype: object
(253, 2)

In [21]:
# join charter_to_district to data
df_charter = df[df['charter_flag'] == 1]
df_district = df[df['charter_flag'] != 1]

df_mult = df_mult.merge(df_charter, left_on=['charter_lea_code'], right_on = ['district_id'], how='left')
print(df_mult.shape)
df_mult = df_mult.merge(df_district, left_on=['sending_lea_code', 'year', 'group_state', 'location'], right_on = ['district_id', 'year','group_state', 'location'], how='left', suffixes=['_charter', '_district'])
print(df_mult.shape)
print(df_mult.columns)

(51544, 34)
(51544, 60)
Index(['charter_lea_code', 'sending_lea_code', 'enrolled_n',
       'physical_charter_location', 'chartered_to_serve',
       '2 Year Private College_charter', '2 Year Public College_charter',
       '4 Year Private College_charter', '4 Year Public College_charter',
       'Apprenticeship_charter', 'Military_charter', 'Other_charter',
       'Other Post Secondary_charter', 'Total Count_charter',
       'Unknown_charter', 'Work_charter', 'group_state', 'year',
       'Attending Coll./Univ. (#)_charter',
       'Attending Coll./Univ. (%)_charter',
       'High School Graduates (#)_charter', 'MA Community College (%)_charter',
       'MA State University (%)_charter', 'Private Four-Year (%)_charter',
       'Private Two-Year (%)_charter', 'Public Four-Year (%)_charter',
       'Public Two-Year (%)_charter', 'Univ.of Mass. (%)_charter', 'location',
       'district_id_charter', 'district_charter', 'charter_flag_charter',
       'Regional Affiliation/s_charter', 'Geographic Location/s_charter',
       '2 Year Private College_district', '2 Year Public College_district',
       '4 Year Private College_district', '4 Year Public College_district',
       'Apprenticeship_district', 'Military_district', 'Other_district',
       'Other Post Secondary_district', 'Total Count_district',
       'Unknown_district', 'Work_district',
       'Attending Coll./Univ. (#)_district',
       'Attending Coll./Univ. (%)_district',
       'High School Graduates (#)_district',
       'MA Community College (%)_district', 'MA State University (%)_district',
       'Private Four-Year (%)_district', 'Private Two-Year (%)_district',
       'Public Four-Year (%)_district', 'Public Two-Year (%)_district',
       'Univ.of Mass. (%)_district', 'district_id_district',
       'district_district', 'charter_flag_district',
       'Regional Affiliation/s_district', 'Geographic Location/s_district'],
      dtype='object')

In [22]:
# join enrollment remainders to district data
df_district.columns = df_district.columns.map(lambda x: str(x) + '_district')
df_district = df_district.rename(columns={'year_district': 'year', 'group_state_district': 'group_state', 'location_district': 'location'})
df_district = df_district.merge(df_enrollment, left_on=['district_id_district'], right_on=['sending_lea_code'], how='inner')
print(df_district.columns)

Index(['2 Year Private College_district', '2 Year Public College_district',
       '4 Year Private College_district', '4 Year Public College_district',
       'Apprenticeship_district', 'Military_district', 'Other_district',
       'Other Post Secondary_district', 'Total Count_district',
       'Unknown_district', 'Work_district', 'group_state', 'year',
       'Attending Coll./Univ. (#)_district',
       'Attending Coll./Univ. (%)_district',
       'High School Graduates (#)_district',
       'MA Community College (%)_district', 'MA State University (%)_district',
       'Private Four-Year (%)_district', 'Private Two-Year (%)_district',
       'Public Four-Year (%)_district', 'Public Two-Year (%)_district',
       'Univ.of Mass. (%)_district', 'location', 'district_id_district',
       'district_district', 'charter_flag_district',
       'Regional Affiliation/s_district', 'Geographic Location/s_district',
       'sending_lea_code', 'enrolled_n'],
      dtype='object')

In [23]:
# append back to other joined data
print(df_mult.shape)
print(df_district.shape)
df_mult = df_mult.append(df_district, ignore_index=True, sort=True)
print(df_mult.shape)

(51544, 60)
(21232, 31)
(72776, 60)

In [24]:
# review grade/group/year breakdown of data
# df.groupby(['year', 'grade', 'group_state'])['num'].sum().to_csv('temp.csv')

In [25]:
# export dataset for QA
df.to_csv('./data/finalized/postsecondary.csv')

In [26]:
# export final dataset
print(df_mult.shape)
df_mult = df_mult.dropna(subset=['year'])
print(df_mult.shape)
df_mult.to_csv('./data/finalized/postsecondary_with_multipliers.csv', index=False)

(72776, 60)
(72431, 60)